<ion-header>
   <ion-toolbar color="primary">
     <ion-buttons slot="start">
       <ion-menu-button color="light"></ion-menu-button>
     </ion-buttons>
     <ion-title> SMS </ion-title>
     <ion-buttons slot="end">
       <ion-button fill="clear">
         <ion-icon name="cloud-download-outline"></ion-icon>
       </ion-button>
     </ion-buttons>
   </ion-toolbar>
 </ion-header>
 <!-- https://www.npmjs.com/package/ionic4-auto-complete -->
<ion-content class="background"> 
  
  <form [formGroup]="messageForm" class="background">

     <ion-list class="background">


        <ion-item class="ion-margin-bottom"> 
           <ion-label color="primary"  position="floating">To:</ion-label> 
           <ion-input
              type="number"
              formControlName="to"></ion-input> 
        </ion-item>


      <ion-item class="ion-margin-bottom"> 
          <ion-label color="primary">Name/Group:</ion-label> 
          <ion-input>
          <input list="browsers" style="color: blue; background-color: transparent;" class="background" type="name" formControlName="name">
          <datalist id="browsers">
            <option *ngFor="let student of studentList" [value]="student.studentName" >{{student.studentName}}</option>
          </datalist>
        </ion-input>
      </ion-item>


        <ion-item class="ion-margin-bottom" > 
           <ion-label color="primary" position="floating">Message:</ion-label> 
           <ion-textarea
              formControlName="message"></ion-textarea> 
        </ion-item>
        </ion-list> 
     <ion-card>
         <ion-button color="primary" type="submit" expand="block"><ion-text >Send your message</ion-text></ion-button>
     </ion-card>

  </form>
</ion-content >
