<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Add Route</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="background">
  <ion-card>
    <form [formGroup]="routeForm" (ngSubmit)="addRoute()">
    <ion-card-content >
      <ion-item>
        <ion-label color="primary" position="floating" title="Route Name">Route Name</ion-label>
        <ion-input type="text" class="ion-input-back-color" formControlName="name" [(ngModel)]="route.name"> </ion-input>
        <small slot="end" *ngIf="routeForm.get('name').hasError('required')" ><ion-text color="danger">Required!</ion-text></small>
        <small slot="end" *ngIf="routeForm.get('name').hasError('minlength')"><ion-text color="danger">Minimum 4 chars</ion-text></small>
      </ion-item>
      <ion-item>
        <ion-label color="primary" position="floating">Route Start</ion-label>
        <ion-input type="text" class="form-control input-text-custom" formControlName= "startPoint" [(ngModel)]="route.startPoint"></ion-input>
        <small slot="end" *ngIf="routeForm.get('startPoint').hasError('required')" ><ion-text color="danger">Required!</ion-text></small>
        <small slot="end" *ngIf="routeForm.get('startPoint').hasError('minlength')"><ion-text color="danger">Minimum 4 chars</ion-text></small>
      </ion-item>
      <ion-item>
        <ion-label color="primary" position="floating">Route End</ion-label>
        <ion-input type="text" class="form-control input-text-custom" formControlName= "endPoint" [(ngModel)]="route.endPoint"></ion-input>
        <small slot="end" *ngIf="routeForm.get('endPoint').hasError('required')" ><ion-text color="danger">Required!</ion-text></small>
        <small slot="end" *ngIf="routeForm.get('endPoint').hasError('minlength')"><ion-text color="danger">Minimum 4 chars</ion-text></small>
      </ion-item>
      <ion-item>
        <ion-label color="primary" position="floating">Vehicle for Route</ion-label>
        <ion-input type="text" class="form-control input-text-custom" formControlName= "vehicle" [(ngModel)]="route.vehicle"></ion-input>
        <small slot="end" *ngIf="routeForm.get('vehicle').hasError('required')" ><ion-text color="danger">Required!</ion-text></small>
        <small slot="end" *ngIf="routeForm.get('vehicle').hasError('minlength')"><ion-text color="danger">Minimum 4 chars</ion-text></small>
      </ion-item>
      <ion-item >
        <ion-label color="primary">Route Stops</ion-label>
        <ion-grid class="cell-class">
          <ion-row class="cell-class">
            <ion-col class="cell-class"><ion-label color="primary" >Stop Name</ion-label>
            </ion-col>
            <ion-col class="cell-class">
              <ion-label color="primary">Stop Distance</ion-label>
            </ion-col>
            <ion-col class="cell-class">

            </ion-col>
          </ion-row>
          <div data-ng-controller="route.routeStops as routeStop">
            <ion-row class="cell-class">
              <ion-col class="cell-class"><ion-input type="text" class="form-control input-text-custom" color = "dark" formControlName= "stopName" ></ion-input></ion-col>
              <ion-col class="cell-class"><ion-input type="text" class="form-control input-text-custom" color = "dark" formControlName= "stopKm" ></ion-input></ion-col>
              <ion-col class="cell-class"><ion-icon name="trash" color="primary"></ion-icon></ion-col>
            </ion-row>
          </div>
        </ion-grid>
      </ion-item>
      <ion-item>
        <ion-label color="primary" position="floating">Description</ion-label>
        <ion-textarea class="form-control input-text-custom" [(ngModel)]="route.description" formControlName='description'  ></ion-textarea>
      </ion-item>
    </ion-card-content>
    <ion-item>
      <ion-button color="primary" type="submit" expand="block"><ion-text >Add Route</ion-text></ion-button>
      <ion-button color="primary" [routerDirection]="'root'" expand="block" [routerLink]="['/transport']" ><ion-text >Cancel</ion-text></ion-button>
    </ion-item>
  </form>
</ion-card>
</ion-content>