<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Add Attendance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <ion-card>
    <ion-item>
      <ion-label color="primary" position="floating">Class</ion-label>
      <ion-select class="form-control input-text-custom" id="class" name="class" >
        <ion-select-option value="1">1</ion-select-option>
        <ion-select-option value="2">2</ion-select-option>
        <ion-select-option value="3">3</ion-select-option>
        <ion-select-option value="4">4</ion-select-option>
        <ion-select-option value="5">5</ion-select-option>
        <ion-select-option value="6">6</ion-select-option>
        <ion-select-option value="7">7</ion-select-option>
        <ion-select-option value="8">8</ion-select-option>
        <ion-select-option value="9">9</ion-select-option>
        <ion-select-option value="10">10</ion-select-option>		
      </ion-select>
    </ion-item>
    
    <ion-item>
      <ion-label color="primary" position="floating">Section</ion-label>
      <ion-select class="form-control input-text-custom" id="section" name="section" >
        <ion-select-option value="A">A</ion-select-option>
        <ion-select-option value="B">B</ion-select-option>
        <ion-select-option value="C">C</ion-select-option>
        <ion-select-option value="D">D</ion-select-option>			
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="floating">Semester</ion-label>
      <ion-select class="form-control input-text-custom" id="semester" name="semester" >
        <ion-select-option value="I">I</ion-select-option>
        <ion-select-option value="II">II</ion-select-option>			
      </ion-select>
    </ion-item>
    
    <ion-item>
      <ion-label color="primary" position="floating">Attendance Date</ion-label>
      <ion-datetime datetime-left displayFormat="YYYY-MM-DD" class="form-control input-text-custom" ></ion-datetime>
      
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="floating">Attendance</ion-label>
      <ion-select class="form-control input-text-custom" id="semester" name="semester" >
        <ion-select-option value="P">Present</ion-select-option>
        <ion-select-option value="A">Absent</ion-select-option>			
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-button color="primary" type="submit" expand="block"><ion-text >Add Attendance</ion-text></ion-button>
      <ion-button color="primary" [routerDirection]="'root'" expand="block" [routerLink]="['/dashboard']" ><ion-text >Cancel</ion-text></ion-button>
    </ion-item>   
 
  </ion-card>

</ion-content>
