.cell-class {
  border-color: #6b73df; 
  border-width: .01em; 
  border-style:solid; margin-bottom : -1px;
  color: whitesmoke;
}
.cell-class-first-col {
  border-color: #6b73df; 
  border-width: .01em; 
  width: 10%;
  border-style:solid; margin-bottom : -1px;
  color: whitesmoke;
}
.cell-class-bottom {
  border-color: #6b73df;
  border-bottom-width: .01em; 
  border-style:solid; margin-bottom : -1px;
  color: whitesmoke;
}

.cell-header {
   background-color:#6b73df;
}
