ion-card {
  --background: url(../../assets/images/bg.png) no-repeat center/cover fixed;
}
.bluecolor {
  --background: rgb(230, 227, 227);
}
ion-input{
  --placeholder-color: rgb(64, 4, 114);
  --placeholder-opacity: 1;
}