<ion-item *ngIf="errorMessage" class="help-block" no-lines color="danger">
  <ion-label><strong>Error: </strong>{{errorMessage}}</ion-label>
</ion-item>
<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        School Name
      </ion-title>
    </ion-toolbar>
  </ion-header>
 
  <ion-content class="background">
       <ion-card class="bluecolor">
        <ion-card-content >
          <ion-text color="dark">
            <h3>School Information</h3>
          </ion-text>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <form name="add-school" (ngSubmit)="f.form.valid && addSchool()" #f="ngForm" novalidate>
        <ion-card-content >
            <ion-item>
              <ion-input type="text" placeholder="School Name" class="form-control input-text-custom" id="name" name="name" [(ngModel)]="school.name" required [ngModelOptions]="{standalone: true}" >{{name}}</ion-input>
              </ion-item>
            <ion-item>
              <ion-input type="text" placeholder="School Id" class="form-control input-text-custom" id="id" name="id" [(ngModel)]="school.id" required [ngModelOptions]="{standalone: true}">{{id}}</ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="text" placeholder="Logo" class="form-control input-text-custom" id="logo" name="logo" [(ngModel)]="school.logo" required [ngModelOptions]="{standalone: true}">{{logo}}</ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="text" placeholder="Background Image" class="form-control input-text-custom" id="backgroundImage" name="backgroundImage" [(ngModel)]="school.backgroundImage" #schoolname="ngModel" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="text" placeholder="Theme" class="form-control input-text-custom" id="theme" name="theme" [(ngModel)]="school.theme" #schoolname="ngModel" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-textarea placeholder="School Address" class="form-control input-text-custom" id="address" name="address" [(ngModel)]="school.address" #schoolname="ngModel" required [ngModelOptions]="{standalone: true}">{{address}}</ion-textarea>
            </ion-item>
            <ion-item>
              <ion-select placeholder="Select City" class="form-control input-text-custom" id="city" name="city" [(ngModel)]="school.city" required [ngModelOptions]="{standalone: true}">
                <ion-select-option value="93">Bangalore</ion-select-option>
                <ion-select-option value="355">Hyderabad	</ion-select-option>			
                <ion-select-option value="213">Chennai	</ion-select-option>			
                <ion-select-option value="1-684">Mumbai	</ion-select-option>	
                <ion-select-option value="376">Delhi	</ion-select-option>			
                <ion-select-option value="244">Bubhaneshwar		</ion-select-option>		
                <ion-select-option value="1-264">Culcutta	</ion-select-option>	
                <ion-select-option value="672">Ahmedabad	</ion-select-option>		
                <ion-select-option value="1-268">Ranchi 	</ion-select-option>
                {{city}}
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-select placeholder="Select State" class="form-control input-text-custom" id="state" name="state" [(ngModel)]="school.state" #schoolname="ngModel" required>
                <ion-select-option value="93">Karnataka</ion-select-option>
                <ion-select-option value="355">Telangana	</ion-select-option>			
                <ion-select-option value="213">Tamilnadu	</ion-select-option>			
                <ion-select-option value="1-684">Maharashtra	</ion-select-option>	
                <ion-select-option value="376">Delhi	</ion-select-option>			
                <ion-select-option value="244">Bihar</ion-select-option>		
                <ion-select-option value="1-264">West Bengal	</ion-select-option>	
                <ion-select-option value="672">Gujrat	</ion-select-option>		
                <ion-select-option value="1-268">Jharkhand 	</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-select placeholder="Select Country" class="form-control input-text-custom" id="country" name="country" [(ngModel)]="school.country" #schoolname="ngModel" required>
                <ion-select-option value="93">Afghanistan</ion-select-option>
                <ion-select-option value="355">Albania	</ion-select-option>			
                <ion-select-option value="213">Algeria	</ion-select-option>			
                <ion-select-option value="1-684">American	</ion-select-option>	
                <ion-select-option value="376">Andorra	</ion-select-option>			
                <ion-select-option value="244">Angola		</ion-select-option>		
                <ion-select-option value="1-264">Anguilla	</ion-select-option>	
                <ion-select-option value="672">Antarctica	</ion-select-option>		
                <ion-select-option value="1-268">India 	</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-icon item-left name="phone-portrait" ></ion-icon>
              <ion-input type="text" placeholder="Alternate Phone" class="form-control input-text-custom" id="alternatePhone" name="alternatePhone" [(ngModel)]="school.alternatePhone" #schoolname="ngModel" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon item-left name="phone-portrait" ></ion-icon>
              <ion-input type="text" placeholder="Mobile no" class="form-control input-text-custom" id="phone" name="phone" [(ngModel)]="school.phone" #schoolname="ngModel" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon item-left name="mail" ></ion-icon>
              <ion-input type="text" placeholder="Email Id" class="form-control input-text-custom" id="email" name="email" [(ngModel)]="school.email" #schoolname="ngModel" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="text" placeholder="Website" class="form-control input-text-custom" id="website" name="website" [(ngModel)]="school.website" #schoolname="ngModel" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="text" placeholder="Active Academic Session" class="form-control input-text-custom" id="activeAcademicSession" name="activeAcademicSession" [(ngModel)]="school.activeAcademicSession" #schoolname="ngModel" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-datetime placeholder="Active Term" class="form-control input-text-custom" id="activeTerm" name="activeTerm" [(ngModel)]="school.activeTerm" #schoolname="ngModel" required></ion-datetime>
            </ion-item>
            <ion-item>
              <ion-input type="text" placeholder="Passout Class" class="form-control input-text-custom" id="passoutClass" name="passoutClass" [(ngModel)]="school.passoutClass" #schoolname="ngModel" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="text" placeholder="Enable License" class="form-control input-text-custom" id="enableLicense" name="enableLicense" [(ngModel)]="school.enableLicense" #schoolname="ngModel" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="text" placeholder="Domain" class="form-control input-text-custom" id="domain" name="domain" [(ngModel)]="school.domain" #schoolname="ngModel" required></ion-input>
            </ion-item>
        </ion-card-content>
        <ion-item>
          <ion-button class="bluecolor" type="submit" expand="block"><ion-text color="dark">Save Settings</ion-text></ion-button>
          <ion-button class="bluecolor" fill="clear" expand="block" [routerLink]="['/dashboard']" ><ion-text color="dark">Cancel</ion-text></ion-button>
        </ion-item>
      </form>
      </ion-card>
  </ion-content>

  