<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Routine</ion-title>
  </ion-toolbar>

  <ion-select placeholder="Routine" color="primary">
    <ion-select-option>One</ion-select-option>
    <ion-select-option>Two</ion-select-option>
    <ion-select-option>Three</ion-select-option>
    <ion-select-option>Four</ion-select-option>
    <ion-select-option>Five</ion-select-option>
  </ion-select>
</ion-header>

<ion-content>

</ion-content>
