<ion-item *ngIf="errorMessage && errorMessage != ''" class="help-block" no-lines color="danger">
  <ion-label><strong>Error: </strong>{{errorMessage}}</ion-label>
</ion-item>
<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        <ion-text><strong>Add New School</strong></ion-text>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="background">
       <ion-card color="primary">
        <ion-card-content >
          <ion-text>
            <h3>School Information</h3>
          </ion-text>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <form [formGroup]="schoolForm" (ngSubmit)="addSchool()">
        <ion-card-content >
          <ion-item>
            <ion-label color="primary" position="floating" title="School Name">Name</ion-label>
            <ion-input type="text" class="ion-input-back-color" formControlName="name" [(ngModel)]="school.name"> </ion-input>
            <small slot="end" *ngIf="schoolForm.get('name').hasError('required')" ><ion-text color="danger">Required!</ion-text></small>
            <small slot="end" *ngIf="schoolForm.get('name').hasError('minlength')"><ion-text color="danger">Minimum 4 chars</ion-text></small>
          </ion-item>
          <ion-item>
            <ion-label color="primary" position="floating">School Id</ion-label>
            <ion-input type="text" class="form-control input-text-custom" formControlName= "id" [(ngModel)]="school.id"></ion-input>
            <small slot="end" *ngIf="schoolForm.get('id').hasError('required')" ><ion-text color="danger">Required!</ion-text></small>
            <small slot="end" *ngIf="schoolForm.get('id').hasError('minlength')"><ion-text color="danger">Minimum 4 chars</ion-text></small>
          </ion-item>
          <ion-item>
            <ion-label slot="start" color="primary">Logo</ion-label>
              <ion-button slot="end" (click)="openCamera()">
                  <ion-icon name="camera"></ion-icon>
              </ion-button>
          </ion-item>
          <ion-item>            
            <ion-label color="primary" position="floating">Background Image</ion-label>
            <ion-input type="text">
              
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="primary" position="floating">Theme</ion-label>
            <ion-input type="text" class="form-control input-text-custom" [(ngModel)]="school.theme"  formControlName='theme' ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="primary" position="floating">Address</ion-label>
            <ion-textarea class="form-control input-text-custom" [(ngModel)]="school.address" formControlName='address'  ></ion-textarea>
          </ion-item>
          <ion-item >
            <ion-label color="primary" position="floating">City</ion-label>
            <ion-select class="form-control input-text-custom" formControlName='city' [(ngModel)]="school.city">
              <ion-select-option value="93">Bangalore</ion-select-option>
              <ion-select-option value="355">Hyderabad	</ion-select-option>			
              <ion-select-option value="213">Chennai	</ion-select-option>			
              <ion-select-option value="1-684">Mumbai	</ion-select-option>	
              <ion-select-option value="376">Delhi	</ion-select-option>			
              <ion-select-option value="244">Bubhaneshwar		</ion-select-option>		
              <ion-select-option value="1-264">Culcutta	</ion-select-option>	
              <ion-select-option value="672">Ahmedabad	</ion-select-option>		
              <ion-select-option value="1-268">Pune 	</ion-select-option>
            </ion-select>
            <small slot="end" *ngIf="schoolForm.get('city').hasError('required')"><ion-text color="danger">Required!</ion-text></small>
          </ion-item>
          <ion-item>
            <ion-label color="primary" position="floating">State</ion-label>
            <ion-select class="form-control input-text-custom" [(ngModel)]="school.state" formControlName='state'>
              <ion-select-option value="93">Karnataka</ion-select-option>
              <ion-select-option value="355">Telangana	</ion-select-option>			
              <ion-select-option value="213">Tamilnadu	</ion-select-option>			
              <ion-select-option value="1-684">Maharashtra	</ion-select-option>	
              <ion-select-option value="376">Delhi	</ion-select-option>			
              <ion-select-option value="244">Bihar</ion-select-option>		
              <ion-select-option value="1-264">West Bengal	</ion-select-option>	
              <ion-select-option value="672">Gujrat	</ion-select-option>		
              <ion-select-option value="1-268">Jharkhand 	</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label color="primary" position="floating">Country</ion-label>
            <ion-select class="form-control input-text-custom" [(ngModel)]="school.country" formControlName='country'>
              <ion-select-option value="93">Afghanistan</ion-select-option>
              <ion-select-option value="355">Albania	</ion-select-option>			
              <ion-select-option value="213">Algeria	</ion-select-option>			
              <ion-select-option value="1-684">American	</ion-select-option>	
              <ion-select-option value="376">Andorra	</ion-select-option>			
              <ion-select-option value="244">Angola		</ion-select-option>		
              <ion-select-option value="1-264">Anguilla	</ion-select-option>	
              <ion-select-option value="672">Antarctica	</ion-select-option>		
              <ion-select-option value="1-268">India 	</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label color="primary" position="floating">
              <ion-icon item-left name="phone-portrait" ></ion-icon>Phone
            </ion-label>
            <ion-input type="text" formControlName='phone' [(ngModel)]="school.phone"></ion-input>
            <small slot="end" *ngIf="schoolForm.get('phone').hasError('required')"><ion-text color="danger">Required!</ion-text></small>
            <small slot="end" *ngIf="schoolForm.get('email').hasError('minlength')"><ion-text color="danger">enter 10 digit number</ion-text></small>
          </ion-item>
          <ion-item>
            <ion-label color="primary" position="floating">
              <ion-icon item-left name="phone-portrait" ></ion-icon>Alternat Phone
            </ion-label>
            <ion-input type="text" class="form-control input-text-custom" [(ngModel)]="school.alternatePhone"  formControlName='alternatePhone'></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="primary" position="floating">
              <ion-icon item-left name="mail" ></ion-icon>Email
            </ion-label>            
            <ion-input type="text" class="form-control input-text-custom" formControlName='email' [(ngModel)]="school.email"></ion-input>
            <small slot="end"  *ngIf="schoolForm.get('email').hasError('required')"><ion-text color="danger">Required!</ion-text></small>
            <small slot="end"  *ngIf="schoolForm.get('email').hasError('pattern')"><ion-text color="danger">input example : abc@gmail.com</ion-text></small>
          </ion-item>
          <ion-item>
            <ion-label color="primary" position="floating">Website</ion-label>
            <ion-input type="text" class="form-control input-text-custom" formControlName='website' [(ngModel)]="school.website"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="primary" position="floating">Active Academic Session</ion-label>
            <ion-datetime datetime-left displayFormat="YYYY-MM-DD" class="form-control input-text-custom" formControlName='activeAcademicSession' [(ngModel)]="school.activeAcademicSession"></ion-datetime>
            <small slot="end" *ngIf="schoolForm.get('activeAcademicSession').hasError('required')"><ion-text color="danger" class="text-align-right">Required!</ion-text></small>
          </ion-item>
          <ion-item>
            <ion-label color="primary" position="floating">Active Term</ion-label>
            <ion-input type="text" class="form-control input-text-custom" [(ngModel)]="school.activeTerm"  formControlName='activeTerm'></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="primary" position="floating">Passout Class</ion-label>
            <ion-input type="text" class="form-control input-text-custom" [(ngModel)]="school.passoutClass" formControlName='passoutClass'></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="primary" position="floating">Enable License</ion-label>
            <ion-input type="text" class="form-control input-text-custom" [(ngModel)]="school.enableLicense" formControlName='enableLicense'></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="primary" position="floating">Domain</ion-label>
            <ion-input type="text" class="form-control input-text-custom" [(ngModel)]="school.domain" formControlName='domain'></ion-input>
          </ion-item>
        </ion-card-content>
        <ion-item>
          <ion-button color="primary" type="submit" expand="block"><ion-text >Add New School</ion-text></ion-button>
          <ion-button color="primary"  [routerDirection]="'root'" expand="block" [routerLink]="['/dashboard']" ><ion-text >Cancel</ion-text></ion-button>
        </ion-item>
      </form>
      </ion-card>
  </ion-content>
  