<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Student Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <div class="div_header">
    <img src="../../assets/images/user.png">
    <div class="user_detail">
      <ion-label><b>Jonh Doe</b></ion-label>
      <ion-text>Class: 1 | Section: A</ion-text><br>
      <ion-text>Roll No: 123456 | Adm. No: 982445</ion-text>
    </div>
  </div>
  <div class="div_segment">
    <ion-segment value="personal" (ionChange)="segmentChanged($event)" mode="md">
      <ion-segment-button value="personal">
        <ion-label>Personal</ion-label>
      </ion-segment-button>
      <ion-segment-button value="parents">
        <ion-label>Parents</ion-label>
      </ion-segment-button>
      <ion-segment-button value="transport">
        <ion-label>Transport</ion-label>
      </ion-segment-button>
      <ion-segment-button value="others">
        <ion-label>Others</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div *ngIf="segmentVal == 'personal'"> 
    <ion-list>
      <ion-item>
        <ion-label>
          <p>Date of Birth</p>
          <h2>05/05/2015</h2>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <p>Religion</p>
          <h2>Hindu</h2>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <p>Phone number</p>
          <h2>+91 1234 567 890</h2>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <p>Email Address</p>
          <h2>bob@smoth.com</h2>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <p>Present Address</p>
          <h2>55/8, wyre street, near bus stop, UK 55/8, wyre street, near bus stop, UK</h2>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <p>Parmament Address</p>
          <h2>55/8, wyre street, near bus stop, UK 55/8, wyre street, near bus stop, UK</h2>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <p>Father's Name</p>
          <h2>Bane joe</h2>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <p>Mother's Name</p>
          <h2>Deny joe</h2>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <p>Blood Group</p>
          <h2>A (+ve)</h2>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
