<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Transport</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="showSearch=!showSearch; showAdd ? showAdd = false: ''">
        <ion-icon name="search"></ion-icon>
      </ion-button>
      <ion-button color="primary" (click)="showAdd=!showAdd; showSearch ? showSearch = false: ''">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <ion-card *ngIf="showSearch" class="row_search">
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label >Country</ion-label>
          <ion-select value="india" interface="popover">
            <ion-select-option value="india">India</ion-select-option>
            <ion-select-option value="uk">UK</ion-select-option>
            <ion-select-option value="france">France</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item>
          <ion-label>City</ion-label>
          <ion-select value="mumbai" interface="popover">
            <ion-select-option value="mumbai">Mumbai</ion-select-option>
            <ion-select-option value="ahmedabad">Ahmedabad</ion-select-option>
            <ion-select-option value="kolkatta">Kolkatta</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item>
          <ion-label>College Name</ion-label>
          <ion-select value="ss" interface="popover">
            <ion-select-option value="ss">SS</ion-select-option>
            <ion-select-option value="cps">CPS</ion-select-option>
            <ion-select-option value="iti">ITI</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item>
          <ion-label>Acedamic Year</ion-label>
          <ion-select value="2019-2020" interface="popover">
            <ion-select-option value="2019-2020">2019-2020</ion-select-option>
            <ion-select-option value="2018-2019">2018-2019</ion-select-option>
            <ion-select-option value="2017-2018">2017-2018</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-button size="full" (click)="showSearch=!showSearch">Search</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>

   <ion-card *ngIf="showAdd" class="row_search">
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Route Name</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-button size="full" (click)="showAdd=!showAdd">Add Route</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button size="full" (click)="showAdd=!showAdd" color="danger">Cancel</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-list>
    <ion-item *ngFor="let route of routes">
      {{route.name}}
      <ion-buttons slot="end">
        <ion-button fill="clear">
          <ion-icon name="create" color="primary"></ion-icon>
        </ion-button>
        <ion-button fill="clear">
          <ion-icon name="trash" color="dark"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>


</ion-content>