.background {
  background: url(../../assets/images/bg.jpg) no-repeat center/cover fixed;
}
.bluecolor {
  --background: rgb(230, 227, 227);
}
.ion-text-color {
  border-bottom-color: red($color: #000000);
}
.ion-input-back-color {
   background-color:light;
}
ion-item {
  --background: transparent!important;
}
