ion-card {
  --background: url(../../assets/images/bg.png) no-repeat center/cover fixed;
}
.bluecolor {
  --background: rgb(230, 227, 227);
}
.ion-text-color {
  border-bottom-color: red($color: #000000);
}
.text-align-right {
  text-align: right;
}