<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Notice View</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <ion-card>
    <ion-card-header>
      <ion-label>{{notice.title}}</ion-label>
    </ion-card-header>
    <img src="../../assets/images/megaphone.png"/>'
    <ion-card-content>
      <ion-label>{{notice.notificationContent}}</ion-label><br>
      <ion-label>{{notice.notificationDate}}</ion-label>
    </ion-card-content>
  </ion-card>

</ion-content>
