<ion-header>
  <ion-toolbar color="danger">
    <ion-back-button slot="start" color="light"></ion-back-button>
    <ion-title>Notice View</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-label>{{notice.title}}</ion-label>
    </ion-card-header>
    <img src="../../assets/images/megaphone.png"/>'
    <ion-card-content>
      <ion-label>{{notice.notice}}</ion-label><br>
      <ion-label>{{notice.date}}</ion-label>
    </ion-card-content>
  </ion-card>

</ion-content>
