ion-card{
    ion-card-header{
        img{
            width: 50px;
            margin-right: 10px;
        }
        ion-label{
            font-size: 22px;
            color: var(--ion-color-dark);
            display: block;
        }
    }
    ion-card-content{
        padding-top: 16px;
        background: rgb(174,174,176);
        padding: 0px;
        ion-item{
            --background: rgb(174,174,176);
        }
        img{
            width: 50px;
            margin-right: 10px;
        }
        ion-label{
            color: #fff;
            font-size: 17px;
        }
    }
}