<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Admin Dashboard
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="background">
       <ion-card>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col>
                <button large class="btncolor" [routerLink]="'/addschool'" routerDirection="forward">
                  <ion-icon name="School" size="large"></ion-icon><br>
                  <ion-label >Add School</ion-label>
                </button>
              </ion-col>
              <ion-col>
                <button large class="btnblue" [routerLink]="'/addstudent'" routerDirection="forward">
                  <ion-icon name="People" size="large"></ion-icon><br>
                  <ion-label >Add Student</ion-label>
                </button>
              </ion-col>
              <ion-col>
                <button large class="btnbrown" [routerLink]="'/schoolsettings'" routerDirection="forward">
                  <ion-icon size="large" name="People" ></ion-icon><br>
                  <ion-label >School Settings</ion-label>
                </button>
              </ion-col>
              <ion-col>
                <button large class="btnyellow" [routerLink]="'/studentsearch'" routerDirection="forward">
                  <ion-icon size="large" name="Bus"></ion-icon><br>
                  <ion-label >Student Search</ion-label>
                </button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <button large class="btngrey" [routerLink]="'/marks'" routerDirection="forward">
                  <ion-icon size="large" name="Navigate"></ion-icon><br>
                  <ion-label >Marks</ion-label>
                </button>
              </ion-col>
              <ion-col>
                <button large class="btngrey" [routerLink]="'/Exam'" routerDirection="forward">
                  <ion-icon name="People" size="large"></ion-icon><br>
                  <ion-label >Exam Dates</ion-label>
                </button>
              </ion-col>
              <ion-col>
                <button large class="btngrey" [routerLink]="'/Notice'" routerDirection="forward">
                  <ion-icon size="large" name="People" ></ion-icon><br>
                  <ion-label >Notice</ion-label>
                </button>
              </ion-col>
              <ion-col>
                <button large class="btngrey" [routerLink]="'/Routine'" routerDirection="forward">
                  <ion-icon size="large" name="Bus"></ion-icon><br>
                  <ion-label >School Transport</ion-label>
                </button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <button large class="btngrey" [routerLink]="'/Syllabus'" routerDirection="forward">
                  <ion-icon size="large" name="Navigate"></ion-icon><br>
                  <ion-label >Bus Tracker</ion-label>
                </button>
              </ion-col>
              <ion-col>
                <button large class="btngrey" [routerLink]="'/Attendance'" routerDirection="forward">
                  <ion-icon name="People" size="large"></ion-icon><br>
                  <ion-label >Teaching Staff</ion-label>
                </button>
              </ion-col>
              <ion-col>
                <button large class="btnbrown">
                  <ion-icon size="large" name="People" ></ion-icon><br>
                  <ion-label >Non-T Staff</ion-label>
                </button>
              </ion-col>
              <ion-col>
                <button large class="btncolor">
                  <ion-icon size="large" name="Bus"></ion-icon><br>
                  <ion-label >School Transport</ion-label>
                </button>
              </ion-col>
            </ion-row>
        </ion-grid>
        </ion-card-content>
      </ion-card>
  </ion-content>
  