.background {
  background: url(../../assets/images/bg.png) no-repeat;
}
.btncolor {
  color: #1b865d;
}
.btnblue {
  color: hsl(249, 98%, 51%);
}
.btnbrown {
  color: #690433;
}
.btngrey {
  color: #693a04;
}
.btnyellow {
  color: #a37a09;
}